<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>
</head>
<body>
<div>
    <div th:if="${!#authorization.expression('isAuthenticated()')}">
        <p><a th:href="@{/login}">Login</a> or <a th:href="@{/register}">Register</a>.</p>
    </div>
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <button type="button" onclick="showLogoutMessage()">Logout</button>
    </div>
    <h4><a th:href="@{/api/note}">Notes</a></h4>
</div>

<script>
    function showLogoutMessage() {
        Swal.fire({
            icon: 'success',
            title: 'You have successfully logged out',
            showConfirmButton: false,
            timer: 1500
        }).then((result) => {
            window.location.href = "/logout";
        });
    }
</script>
</body>
</html>
